.view-requests
  %h3 
    &laquo; 
    =link_to 'View Recent Requests', '/requests'

  .row
    .left
      .circles{:style => "float: left"}
        .circle.grey 
        .circle.grey 
        .circle.grey 
    .right
      .request-header{:style => "width: 500px"}
        .row
          %h3{:style => "float: left; padding: 0 15px 0 0; margin: 0 15px 0 0;"}
            Subject
          %span{:style => "float: left; padding: 0 15px 0 0; margin: 0 15px 0 0;"}
            =@request.subject
        .row
          %h3{:style => "float: left; padding: 0 15px 0 0; margin: 0 15px 0 0;"}
            Department
          %span{:style => "float: left; padding: 0 15px 0 0; margin: 0 15px 0 0;"}
            / =@request.department.name
        .row
          %h3{:style => "float: left; padding: 0 15px 0 0; margin: 0 15px 0 0;"}
            Date
          %span{:style => "float: left; padding: 0 15px 0 0; margin: 0 15px 0 0;"}
            May 10, 2010
        
  .row
    .left
      %h3 Requests
    .right
      %div
        %strong Subject
        = @request.subject
        
      %div
        %strong Body
        = @request.body
        
      %div
        %strong Key
        = @request.response_key
        
      %div
        %strong Status
        = @request.status

  .row
    .left
      %h3 Responses
    .right
      - if @responses.any?
        - @responses.each do |response|
          .response{style: "margin-bottom: 20px;"}
            %div= response.status
            %div= response.body
            %div= response.created_at
      - else
        %p No responses.
  .row
    .left
      %h3
        Files
    .right
      =image_tag "document.png"